<mat-dialog-content>
  <h2 mat-dialog-title>
    @if(data.isUpdate){
      Actualizar habitación
    } @else {
      Agregar habitación
    }
  </h2>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="flex flex-col gap-4">
      <fieldset class="flex gap-4 border border-gray-200 rounded-lg p-5">
        <legend>Información del huesped</legend>
        <mat-form-field class="w-full">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="firstName">
          <mat-error *ngIf="taskForm.get('firstName')?.invalid && taskForm.get('firstName')?.touched">
            Debe tener dos palabras como mínimo
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full">
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="lastName">
          <mat-error *ngIf="taskForm.get('lastName')?.invalid && taskForm.get('lastName')?.touched">
            Debe tener dos palabras como mínimo
          </mat-error>
        </mat-form-field>
      </fieldset>

      
      <fieldset class="flex flex-col gap-4 border border-gray-200 rounded-lg p-5">
        <legend>Información de la habitación</legend>
        <div class="flex gap-4">
          <mat-form-field class="w-full">
            <mat-label>Número de cuarto</mat-label>
            <input matInput formControlName="roomNumber">
            <mat-error *ngIf="taskForm.get('roomNumber')?.invalid && taskForm.get('roomNumber')?.touched">
              Por favor, ingresa un número de cuarto válido
            </mat-error>
          </mat-form-field>
          <mat-form-field class="w-full">
            <mat-label>Tipo</mat-label>
            <mat-select formControlName="type">
              <mat-option *ngFor="let type of typeOptions" [value]="type">{{type}}</mat-option>
            </mat-select>
            <mat-error *ngIf="taskForm.get('type')?.invalid && taskForm.get('type')?.touched">
              Por favor, selecciona una opción válida
            </mat-error>
          </mat-form-field>
        </div>

        @if(data.isUpdate){
        <mat-form-field class="w-full">
          <mat-label>Estado</mat-label>
          <mat-select formControlName="state">
            <mat-option *ngFor="let state of stateOptions" [value]="state">{{state}}</mat-option>
          </mat-select>
          <mat-error *ngIf="taskForm.get('state')?.invalid && taskForm.get('state')?.touched">
            Por favor, selecciona una opción válida
          </mat-error>
        </mat-form-field>
        }

        <div class="flex gap-4">
          <mat-form-field class="w-full">
            <mat-label>Fecha inicial</mat-label>
            <input matInput [matDatepicker]="picker1" formControlName="initialDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <mat-error *ngIf="taskForm.hasError('dateInvalid')">
              La fecha inicial no puede ser posterior a la fecha final
            </mat-error>
          </mat-form-field>
          
          <mat-form-field class="w-full">
            <mat-label>Fecha final</mat-label>
            <input matInput [matDatepicker]="picker2" formControlName="finalDate">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
            <mat-error *ngIf="taskForm.hasError('dateInvalid')">
              La fecha final no puede ser anterior a la fecha inicial
            </mat-error>
          </mat-form-field>
        </div>
      </fieldset>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="onSubmit()" [mat-dialog-close]="data" [disabled]="taskForm.invalid || roomNumberExists">
    @if(data.isUpdate){
      Actualizar
    } @else {
      Agregar
    }
  </button>
</mat-dialog-actions>
