<div class="cardContent">
  <div class="header">
    <h2 class="title">Tarea: {{ task.name }}</h2>
    <p><strong>Descripción:</strong> {{ task.description }}</p>
    <p><strong>Estado:</strong> {{ task.pending ? "Pendiente" : "Completado" }}</p>
  </div>

  <p><strong>Fecha límite:</strong> {{ task.dueDate }}</p>

  <div class="flex w-full justify-end mt-6" *ngIf="task.pending">
    <button mat-flat-button color="primary" (click)="toggleTaskStatus()">
      Marcar como {{ task.pending ? "Completada" : "Pendiente" }}
    </button>
  </div>
</div>

