<div class="flex flex-row w-full h-[92dvh] justify-center items-start px-10 gap-10 bg-slate-200">
  <div class="w-fit flex flex-col gap-10 bg-white rounded-xl p-5 shadow-lg mt-10">
    <app-panel-card-icon-view
      class="w-80"
      title="Panel de control"
      [icons]="controlPanelCards"/>
  
      @if(role == roles.MANAGER){
        <app-panel-card-icon-view
          class="w-80"
          title="Panel administrativo"
          [icons]="managePanelCards"/>
      }
  </div>
  
  <div class="flex justify-center items-center w-full bg-white p-5 rounded-xl shadow-lg mt-10">
    <app-panel-schedule class="w-full"/>
  </div>
  
</div>