<!-- manager-profile.component.html -->


<div class="bg-slate-200 w-full h-[92dvh] py-3 px-12">
  <div class="flex flex-col gap-4 w-full h-full justify-center items-center">
    <div class="bg-white p-5 flex flex-col justify-center items-center gap-4 rounded-lg shadow-lg">
      <img class="size-24 rounded-full" src="https://i.imgur.com/gGTAClo.jpeg" alt="Manager Avatar">
      <div class="font-bold text-2xl">Nombre del {{ rollDescription() }}:</div>
      <div class="text-2xl">{{ userLogged.names }} {{ userLogged.lastName }}</div>
    </div>
    
    <div class="bg-white p-5 flex flex-col gap-4 rounded-lg shadow-lg">
      <!-- <div class="manager-information" *ngIf=isManager>
        <div class="manager-name-container">
          <h2 style="font-weight: bold">Manager Key: 323234</h2>
        </div>
        <div class="manager-edit-button">
          <button mat-raised-button color="primary" (click)="openEditDialog()">Editar usuario</button>
        </div>
         <div class="manager-edit-button">
          <button mat-raised-button color="primary">Delete</button>
        </div>
      </div> -->
      <div class="profile-info">
        <p class="text-2xl font-bold">Información de la cuenta:</p>
        <p class="text-xl"><strong>Número de teléfono:</strong> {{ userLogged.phoneNumber }}</p>
        <p class="text-xl"><strong>Email:</strong> {{ userLogged.email }}</p>
        <p class="text-xl"><strong>Tareas hechas hoy:</strong> 6/9</p>
        <p class="text-xl"><strong>Horario laboral:</strong> 09:00 - 13:00</p>
        <!-- <button mat-raised-button color="primary">Update</button> -->
      </div>
    
      <!-- <div class="manager-content">
        <div class="messages">
          <h3>Messages:</h3>
          <div class="message">
            <h4>Message Title</h4>
            <p><strong>From:</strong> Arturo Pinos</p>
            <p><strong>To:</strong> Juan Carlos</p>
            <p><strong>Sent:</strong> 22/04/2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
          <div class="message">
            <h4>Message Title 2</h4>
            <p><strong>From:</strong> Arturo Pinos</p>
            <p><strong>To:</strong> Juan Carlos</p>
            <p><strong>Sent:</strong> 22/04/2024</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div> -->
    
    </div>
  </div>
</div>
