<mat-card class="w-[20dvw] p-5">
  <mat-card-content class="flex flex-col gap-5">
    <div class="flex flex-col justify-center items-center gap-4">
      <img class="size-24 rounded-full" src="https://i.imgur.com/gGTAClo.jpeg" alt="Manager Avatar">
      <p class="font-bold text-2xl">{{ this.name }} {{ this.employee.lastName }}
        <mat-menu #menu="matMenu" xPosition="before">
          <button mat-menu-item (click)="edit()">Editar</button>
          <button mat-menu-item (click)="delete()">Eliminar</button>
        </mat-menu>
      </p>
    </div>
    <div>
      <p class="text-lg"><strong>Rol:</strong> {{ employee.role }}</p>
      <p class="text-lg"><strong>Email:</strong> {{ this.email }}</p>
      <p class="text-lg"><strong>Perfil ID:</strong> {{ employee.employeeId }}</p>
    </div>

    <!-- <button
      *ngIf="false"
      (click)="clickedMenu()" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_horiz</mat-icon>
    </button> -->
  </mat-card-content>
</mat-card>
